<table>
  <tbody>
    <tr>
      <td colspan="2">
        <h3 [ngClass]="headerClasses">{{product.name}}</h3>
      </td>
    </tr>

    <tr>
      <td>Description</td>
      <td>{{product.description}}</td>
    </tr>

    <tr>
      <td>Price</td>
      <td>{{product.price}}</td>
    </tr>

    <tr>
      <td>Category</td>
      <td class="category">{{product.category}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="2">
        <h4>Comments</h4>
        <app-comment *ngFor="let comment of product.comments" [comment]="comment"></app-comment>
      </td>
    </tr>

    <tr *ngIf="product.isAvailable">
      <td colspan="2">
        <table>
          <thead>
            <tr>
              <td class="amount_cell">
                Amount:

                <button (click)="addAmount(-1)">-</button>
                <input type="number" [(ngModel)]="amount" class="amount" min="1">
                <button (click)="addAmount(1)">+</button>
              </td>
              <td>
                <button (click)="onBuy()">Buy</button>
              </td>
            </tr>
          </thead>
        </table>
      </td>
    </tr>
  </tfoot>
</table>
