<table>
  <tr>
    <td>Name</td>
    <td>{{ product.name }}</td>
  </tr>
  <tr>
    <td>Description</td>
    <td>{{ product.description }}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{ product.price }}</td>
  </tr>
  <tr>
    <td>Category</td>
    <td>{{ product.category }}</td>
  </tr>
  <tr>
    <td>IsAvailable</td>
    <td>{{ product.isAvailable }}</td>
  </tr>
  <tr>
    <td>Characteristics</td>
    <td>
      <ul class="characteristics">
        <li *ngFor="let c of product.characteristics">{{ c }}</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button class="buy-button" (click)="onBuy()">buy</button>
    </td>
  </tr>
</table>
